05-appointment-booking-system/Appointment Booking & Reminder System.json
{
  "name": "Appointment Booking & Reminder System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-appointment",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "27f9c37d-3fb7-48f2-8804-f5d54873f9ec",
      "name": "Webhook",
      "webhookId": "1b50bbcd-6840-4e0e-acec-6370307c0487",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8huW6OQ6YSAHrjbK",
          "name": "Booking Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "kartikshrimali62@gmail.com",
          "mode": "list",
          "cachedResultName": "kartikshrimali62@gmail.com"
        },
        "timeMin": "={{ DateTime.fromISO($json.body.appointmentDatetime, { zone: 'Asia/Kolkata' }).toISO() }}",
        "timeMax": "={{ DateTime.fromISO($json.body.appointmentDatetime, { zone: 'Asia/Kolkata' }).plus({ hours: 1 }).toISO() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        240,
        0
      ],
      "id": "ee8f2341-6925-42f3-8ed3-89340df541a6",
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7Njzl3gni8iXWH8O",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bdde0c2f-19c5-4c5d-89a9-3cb27b7c55b4",
              "leftValue": "={{ $json.id }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ],
      "id": "c18b61c5-e45a-465f-8aa4-f8b4947e4dd9",
      "name": "If"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "kartikshrimali62@gmail.com",
          "mode": "list",
          "cachedResultName": "kartikshrimali62@gmail.com"
        },
        "start": "={{ DateTime.fromISO($('Webhook').item.json.body.appointmentDatetime, { zone: 'Asia/Kolkata' }).toISO() }}",
        "end": "={{ DateTime.fromISO($('Webhook').item.json.body.appointmentDatetime, { zone: 'Asia/Kolkata' }).plus({ hours: 1 }).toISO() }}",
        "additionalFields": {
          "summary": "={{ \"Appointment with \" + $('Webhook').item.json.body.clientName }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        656,
        -96
      ],
      "id": "c2e01c02-dc4d-4686-8b80-19028a14bac9",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7Njzl3gni8iXWH8O",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15yUPt6vndLg1OyXbQTZrvcp7XaP9ZvaQa3XE-VAzBDU",
          "mode": "list",
          "cachedResultName": "n8n-pracitice-appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15yUPt6vndLg1OyXbQTZrvcp7XaP9ZvaQa3XE-VAzBDU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15yUPt6vndLg1OyXbQTZrvcp7XaP9ZvaQa3XE-VAzBDU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "BOOKING ID": "={{ $now.toMillis() }}",
            "CLIENT NAME": "={{ $('Webhook').item.json.body.clientName}}",
            "CLIENT PHONE": "={{ \"'\" + $('Webhook').item.json.body.clientPhone }}",
            "APPOINTMENT DATETIME": "={{ \"'\" + $('Webhook').item.json.body.appointmentDatetime }}",
            "STATUS": "BOOKED",
            "CALENDAR EVENT ID": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "BOOKING ID",
              "displayName": "BOOKING ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLIENT NAME",
              "displayName": "CLIENT NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLIENT PHONE",
              "displayName": "CLIENT PHONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "APPOINTMENT DATETIME",
              "displayName": "APPOINTMENT DATETIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CALENDAR EVENT ID",
              "displayName": "CALENDAR EVENT ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        -96
      ],
      "id": "a25a4926-1322-4a88-8c9d-3c8e9ccd8886",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YJ0JdJoBRxbEFaOi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"This time slot is already booked. Please choose another time.\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        656,
        96
      ],
      "id": "7e3d5944-4fb0-4714-914c-878b1e7b9133",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Appointment booked!\", \"bookingId\": $json.row_number } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1072,
        -96
      ],
      "id": "43fdba7a-f8d8-427a-9ceb-332880c7c7e0",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        336
      ],
      "id": "6351e9d4-befe-4c64-8208-d6a97e5b2661",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15yUPt6vndLg1OyXbQTZrvcp7XaP9ZvaQa3XE-VAzBDU",
          "mode": "list",
          "cachedResultName": "n8n-pracitice-appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15yUPt6vndLg1OyXbQTZrvcp7XaP9ZvaQa3XE-VAzBDU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15yUPt6vndLg1OyXbQTZrvcp7XaP9ZvaQa3XE-VAzBDU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        336
      ],
      "id": "4bb64d32-3209-4042-828b-d98c60d4374e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YJ0JdJoBRxbEFaOi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e76504a3-eca3-4403-a1cd-aa78fd902201",
              "leftValue": "={{ $json.STATUS }}",
              "rightValue": "BOOKED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "866dccf3-396b-4f22-9110-17203e95a0cc",
              "leftValue": "={{ DateTime.fromISO($json['APPOINTMENT DATETIME'], { zone: 'Asia/Kolkata' }).diff(DateTime.now().setZone('Asia/Kolkata'), 'hours').hours }}",
              "rightValue": 23,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "8b287af6-903b-4ee7-8b38-9a8da5602e73",
              "leftValue": "={{ DateTime.fromISO($json['APPOINTMENT DATETIME'], { zone: 'Asia/Kolkata' }).diff(DateTime.now().setZone('Asia/Kolkata'), 'hours').hours }}",
              "rightValue": 24,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        400,
        336
      ],
      "id": "51015e37-4366-4523-a954-acf9c9f11ed5",
      "name": "Filter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "=whatsapp:{{ $json['CLIENT PHONE'] }}"
            },
            {
              "name": "From",
              "value": "=whatsapp:+14155238886"
            },
            {
              "name": "ContentSid",
              "value": "=HXb5b62575e6e4ff6129ad7c8efe1f983e"
            },
            {
              "name": "ContentVariables",
              "value": "={{ JSON.stringify({ \"1\": DateTime.fromISO($json['APPOINTMENT DATETIME'].replace(\"'\", \"\"), { zone: 'Asia/Kolkata' }).toFormat('d/M'), \"2\": DateTime.fromISO($json['APPOINTMENT DATETIME'].replace(\"'\", \"\"), { zone: 'Asia/Kolkata' }).toFormat('h:mm a') }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        336
      ],
      "id": "db91b107-00b1-4f2b-a381-122e07ce00c8",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "HKPpNLdFzRRPFoHc",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15yUPt6vndLg1OyXbQTZrvcp7XaP9ZvaQa3XE-VAzBDU",
          "mode": "list",
          "cachedResultName": "n8n-pracitice-appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15yUPt6vndLg1OyXbQTZrvcp7XaP9ZvaQa3XE-VAzBDU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15yUPt6vndLg1OyXbQTZrvcp7XaP9ZvaQa3XE-VAzBDU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "STATUS": "REMINDED"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "BOOKING ID",
              "displayName": "BOOKING ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CLIENT NAME",
              "displayName": "CLIENT NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLIENT PHONE",
              "displayName": "CLIENT PHONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "APPOINTMENT DATETIME",
              "displayName": "APPOINTMENT DATETIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CALENDAR EVENT ID",
              "displayName": "CALENDAR EVENT ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        336
      ],
      "id": "f90a234f-c0d2-49e0-867d-82cc6a50cc46",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YJ0JdJoBRxbEFaOi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reschedule-appointment",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        576
      ],
      "id": "9dc48c47-3015-4450-9e7f-63ee8c8bd1e4",
      "name": "Webhook1",
      "webhookId": "1798dd2b-eb11-4941-85c6-7425b5c8a5a9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8huW6OQ6YSAHrjbK",
          "name": "Booking Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15yUPt6vndLg1OyXbQTZrvcp7XaP9ZvaQa3XE-VAzBDU",
          "mode": "list",
          "cachedResultName": "n8n-pracitice-appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15yUPt6vndLg1OyXbQTZrvcp7XaP9ZvaQa3XE-VAzBDU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15yUPt6vndLg1OyXbQTZrvcp7XaP9ZvaQa3XE-VAzBDU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "CLIENT PHONE",
              "lookupValue": "={{ $json.body.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        576
      ],
      "id": "53c8b2e4-b774-40d2-b44e-ac86d0c0161f",
      "name": "Get row(s) in sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YJ0JdJoBRxbEFaOi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "93b9411a-ba0f-43fa-a9be-17b81f8b34d3",
              "leftValue": "={{ DateTime.fromISO($json['APPOINTMENT DATETIME'].replace(\"'\", \"\"), { zone: 'Asia/Kolkata' }).diff(DateTime.now().setZone('Asia/Kolkata'), 'hours').hours }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        576,
        736
      ],
      "id": "92206fff-abea-42dd-98e4-d19fc5d52081",
      "name": "Filter1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "APPOINTMENT DATETIME"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        800,
        736
      ],
      "id": "0b62dd6f-936d-4844-9df5-5c3439823247",
      "name": "Sort",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1008,
        736
      ],
      "id": "67c133cb-7487-4898-b995-c261be764afe",
      "name": "Limit",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "de4aaf12-0b05-4a09-98c1-74b6c1a5721d",
              "leftValue": "={{$json.row_number}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        624
      ],
      "id": "85d54f9d-c401-410a-8f98-14d8f5756f95",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": false, \"message\": \"We couldn't find an upcoming booking under this phone number.\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1456,
        480
      ],
      "id": "bb878ee1-ec5c-46ca-a4bc-0aea4b5bad1a",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "kartikshrimali62@gmail.com",
          "mode": "list",
          "cachedResultName": "kartikshrimali62@gmail.com"
        },
        "timeMin": "={{ DateTime.fromISO($('Webhook1').item.json.body.newDatetime, { zone: 'Asia/Kolkata' }).toISO() }}",
        "timeMax": "={{ DateTime.fromISO($('Webhook1').item.json.body.newDatetime, { zone: 'Asia/Kolkata' }).plus({ hours: 1 }).toISO() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1456,
        688
      ],
      "id": "54e7c403-c840-4f45-bd95-aa25ca62abd1",
      "name": "Get many events1",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7Njzl3gni8iXWH8O",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6a3fcced-98f2-4382-a0d6-dde8b8126ee3",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1664,
        688
      ],
      "id": "3eace017-442f-4509-87eb-1c16745c46ab",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "kartikshrimali62@gmail.com",
          "mode": "list",
          "cachedResultName": "kartikshrimali62@gmail.com"
        },
        "eventId": "={{ $('Limit').item.json['CALENDAR EVENT ID'] }}",
        "updateFields": {
          "end": "={{ DateTime.fromISO($('Webhook1').item.json.body.newDatetime, { zone: 'Asia/Kolkata' }).plus({ hours: 1 }).toISO() }}",
          "start": "={{ DateTime.fromISO($('Webhook1').item.json.body.newDatetime, { zone: 'Asia/Kolkata' }).toISO() }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1872,
        592
      ],
      "id": "ce4c6059-7087-413e-be5a-1a29ab2cf2a3",
      "name": "Update an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7Njzl3gni8iXWH8O",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15yUPt6vndLg1OyXbQTZrvcp7XaP9ZvaQa3XE-VAzBDU",
          "mode": "list",
          "cachedResultName": "n8n-pracitice-appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15yUPt6vndLg1OyXbQTZrvcp7XaP9ZvaQa3XE-VAzBDU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15yUPt6vndLg1OyXbQTZrvcp7XaP9ZvaQa3XE-VAzBDU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit').item.json.row_number }}",
            "APPOINTMENT DATETIME": "={{ \"'\" + $('Webhook1').item.json.body.newDatetime }}",
            "STATUS": "BOOKED"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "BOOKING ID",
              "displayName": "BOOKING ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CLIENT NAME",
              "displayName": "CLIENT NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CLIENT PHONE",
              "displayName": "CLIENT PHONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "APPOINTMENT DATETIME",
              "displayName": "APPOINTMENT DATETIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CALENDAR EVENT ID",
              "displayName": "CALENDAR EVENT ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2080,
        592
      ],
      "id": "6ddc72f6-0dab-46db-a080-a9c72c3be5f3",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YJ0JdJoBRxbEFaOi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Appointment rescheduled!\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2288,
        592
      ],
      "id": "00b3cb70-b05e-4295-b37b-0b1e6c6024ce",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"That new time is already booked. Please choose another.\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1920,
        832
      ],
      "id": "38a45302-ff65-4f73-a0a1-4027ebe59733",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "698f6e90-8c24-4daf-b605-3ecc1b798c1a",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        576
      ],
      "id": "be97ba7f-ebd7-4ea8-b4ef-3c9bd3f36732",
      "name": "If3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many events1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Update an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an event": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "773a0ed3-9994-486b-a964-bdb808689bf5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e6661d111fee1d2a00b75ea4b24e7f3dbffd39d9fedf5aec30935111d882145"
  },
  "nodeGroups": [],
  "id": "YXhJs1X2G3b2jXpo",
  "tags": []
}